<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .team {
    font-size: 24px;
  }
</style>


<div class='message-content'>
  <p></p>
  <p><strong>Ligação confirmada para: </strong>{{hour}}:{{minute}} do {{day}}/{{month}}/{{year}}</p>
  <br/>
  <strong class="team" >Equipe VP</strong>
</div>
